<template>
<div class="container is-fluid mt-5">
    <div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Personal Expenses Manager
    </p>
    <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </a>
  </header>
  <div class="card-content">
    <div class="content">
      PEM is a free & open source personal expenses manager
    </div>
  </div>
  <footer class="card-footer">
    <a href="#" class="card-footer-item">Source Code</a>
    <a href="#" class="card-footer-item">License: GPL v3</a>
    <a href="#" class="card-footer-item">Delete</a>
  </footer>
</div>
</div>
</template>

<script>
export default {
    name: 'about'
}
</script>
<style scoped>

</style>