<template>
<div class="container is-fluid mt-5">
    <div class="" v-show="showNewAccountSection">
        <h3 class="title is-3">New Group</h3>
        <input v-model="group_title" class="input is-rounded mb-5" type="text" placeholder="Group Name">
        <input v-model="group_initial_amount" class="input is-rounded mb-5" type="number" placeholder="Initial Amount">
        
        <!-- <div class="select">
            <select v-model='expense_type' name="Expense Type">
                <option disabled selected>Expense type</option>
                <option v-for="(product, index) in opts" :label="product" :key="index">{{product}}</option>
            </select>
        </div> -->
        <br>
        <button @click="saveInput()" class="m-1 button is-success">Save</button>

    </div>
    <div class="" id="entry">
        <h3 class="title is-3">Add listing</h3>
        <input v-model="expense_title" class="input is-rounded mb-5" type="text" :placeholder="expense_title">
        <input v-model="expense_amount" class="input is-rounded mb-5" type="number" placeholder="Amount">
        
        <div class="select">
            <select v-model='expense_type' name="Expense Type">
                <option disabled selected>Expense type</option>
                <option v-for="(product, index) in opts" :label="product" :key="index">{{product}}</option>
            </select>
        </div>
        <br>
        <button @click="saveInput()" class="mt-5 button is-success">Save</button>
    </div>
</div>
</template>

<script>

import localforage from 'localforage'

export default {
    name: 'Account',
    data(){
        return{

            opts: [
                'food',
                'milk',
                'medicine',
                'rent'
            ],
            showNewAccountSection: true,
            expense_title: '',
            expense_amount: 0,
            expense_type: ''
        }
    },
    methods:{

        saveInput: function(){

            localforage.setItem("account1", [this.expense_title, this.expense_amount, this.expense_type])
        }
    }

}
</script>
<style scoped>

</style>