<template>
    <div class="container is-fluid mt-5">
        <div class="title is-4">Customize Expense Types</div>
        <input type="text" name="customOption" id="" placeholder="Add Custom expense">
        <br>
        <button class="button is-small m-1 is-success">Add</button>
    </div>
</template>

<script>
export default {
  name: 'Settings'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
