<template>
  <div class="columns has-text-centered">
    <nav class="mynav column navbar mb-5 is-fixed-top">
        <span class="is-danger is-rounded m-5" @click="currentView = 'account'"><i class="ri-xl ri-account-pin-circle-line"></i></span>
        <span class="is-danger is-rounded m-5" @click="currentView = 'settings'"><i class="ri-xl ri-settings-3-fill"></i></span>
        <span class="is-danger is-rounded m-5" @click="currentView = 'about'"> <i class="ri-xl ri-information-line"></i> </span>
    </nav>
    <keep-alive>
        <component v-bind:is="currentView"></component>
    </keep-alive>
  </div>
</template>

<script>
// import Vue from 'vue'
// import Buefy from 'buefy'
import 'buefy/dist/buefy.css'
import 'remixicon/fonts/remixicon.css'
import About from './components/About.vue'
import Account from './components/Account.vue'
import Settings from './components/Settings.vue'

// Vue.use(Buefy)

export default {
  name: 'App',

  components: {
    'about': About,
    'account': Account,
    'settings': Settings
  },
    data() {
    return {
      currentView: 'account'
    }
  }
}
</script>

<style>
</style>
